*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Albert Sans", sans-serif;
}
.icon_pic{
    height: 50;
    width: 200;
}
.user_inform{
    margin: 0auto;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.search_tool{
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}
.search_tool img{
    margin-left: 35px;
    width: 35%;
}
.search_tool .search_input{
    width: 40%;
    height: 36px;
    padding: 0 15px;
    margin-left: 20%;
    border-radius: 15px;
}
.header_navigation{
    padding: 0px 50px;
}
.header{
    width: 100%;
    height: 78px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #89e489;
    color: white;
}
.header_navigation .navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 24px;
}
.header_navigation .navigation .button{
    padding: 16px 32px;
}
.header_navigation .navigation li{
    list-style: none;
    padding: 0 24px;
    transition: all 0.5s linear;
}
.header_navigation .navigation li :hover{
    margin-bottom: 5px;
    text-decoration: underline;
    transition: all 0.5s linear;
}
.header_navigation .navigation li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 16px;    
    line-height: 78px;
} 
.header_navigation .navigation .icon{
    display: flex;
    justify-content:end;
    padding: 0 24px;    
}
.header_navigation .navigation .icon .icon_login a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.header_navigation .navigation .icon .icon_login i{
    margin-right: 10px;
    transition: all 0.5s linear; 
    color: rgb(255, 255, 255);  
}
.header_navigation .navigation .icon .icon_compare{
    margin-right: 10px;
    transition: all 0.5s linear;
}
.header_navigation .navigation .icon .icon_wishlist{
    margin-right: 10px;
    transition: all 0.5s linear;
}
.header_navigation .navigation .icon span{
    margin-left: 5px;
}
.header_navigation .navigation .icon i{
    color: #000;
    height: 18px;
    width: 18px;
}
.header_navigation .navigation .icon .icon_login:hover{
    background-color:rgb(41, 155, 217) ;
    font-size: 20px;
    transition: all 0.5s linear;
}
.header_navigation .navigation .icon .icon_compare:hover{
    background-color:rgb(41, 155, 217) ;
    font-size: 20px;
    transition: all 0.5s linear;
}
.header_navigation .navigation .icon .icon_wishlist:hover{
    background-color:rgb(41, 155, 217) ;
    font-size: 20px;
    transition: all 0.5s linear;
}
.header_navigation .navigation .Browse{
    padding: 0 14px;
    margin-inline-end: 35px;
    text-decoration: none;
    background-color: rgb(41, 155, 217) ;
    color: #fff;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    border-radius: 8px;
    min-width: 226px;
    transition: all 0.5s linear;
}
.header_navigation .navigation .Browse:hover{
    color: #07dde8e2;
    font-size: 20px;
    transition: all 0.5s linear;
}
/* body go brrr */
/* h2{
    margin-bottom: 25px;
    font-size: 42px;
    padding-left: 50px;
    padding-right: 50px;
}
.feature_categories{
    padding:35px 50px 30px 50px;
    display: flex;
    justify-content: space-between;
}
.phone_img{
    height: 117.8px;
    width: 117.8px;
}
.categories_product{
    font-size: 18px;
    text-align: center;
    background-color: rgb(240, 239, 239);
}
.categories_product img{
    display: block;
    margin: 0auto;
    height: 50%;
    margin-bottom: 20px;
    transition: all 0.2s linear;
}
.categories_product img:hover{
    height: 60%;
    margin: 0auto;
    transition: all 0.2s linear;
}
.categories_product span{
    margin-top: 20px;
    margin-bottom: 15px;
}
.categories_product a{
    text-decoration: none;
    color: #000;
}
.phone_content{
    padding: 30px 45px;
}
.dairy_content{
    padding: 35px 45px;
}
.package_content{
    padding: 35px 45px;
}
.Beverages_content{
    padding: 35px 45px;
}
.meat_content{
    padding: 35px 45px;
}
.fruit_content{
    padding: 35px 45px;
} */
.shop_ad_container{
    display: flex;
    justify-content: space-between;
    padding: 0 25px ;
    position: relative;
    text-align: center;
}
.shop_ad_container img{
    width:730px;
    height: 100%;
    transition: all 0.2s linear;
}
.shop_ad_container img:hover{
    width: 750px;
    opacity: 0.9px;
    height: 105%;
    transition: all 0.2s linear;
}
.center_bottom_left_1{
    position: absolute;
    bottom: 55%;
    left: 80px;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1.4rem;
}
.center_bottom_left_2{
    position: absolute;
    bottom: 30%;
    left: 80px;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1.75rem;
    text-align: start;
}
.center_bottom_left_3{
    position: absolute;
    bottom: 20%;
    left: 80px;
}
.center_bottom_left_3 button{
    color: rgb(255, 255, 255);
    background-color: rgb(224, 147, 20);
    border: 1px solid rgb(224, 147, 20);
    border-radius: 6.0rem;
    font-weight: 600;
    padding: 0.2rem 1.8rem;
    font-size: 1.4rem;
    transition: all 0.2s linear;
}
.center_bottom_left_3 button:hover{
    color: rgb(224, 147, 20);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 147, 20);
    padding: 0.4rem 2.2rem;
    transition: all 0.2s linear;
}
.center_bottom_left_sd1{
    position: absolute;
    bottom: 55%;
    left: 53%;
    margin-bottom: 40px;
    color: rgb(37,61, 78);
    font-weight: 700;
    font-size: 1.4rem;
}
.center_bottom_left_sd2{
    position: absolute;
    bottom: 30%;
    left:53%;
    margin-bottom: 40px;
    color: rgb(37,61, 78);
    font-weight: 700;
    font-size: 1.75rem;
    text-align: start;
}
.center_bottom_left_sd3{
    position: absolute;
    bottom: 20%;
    left: 53%;
}
.center_bottom_left_sd3 button{
    color: rgb(255, 255, 255);
    background-color: rgb(180, 97, 97);
    border: 1px solid rgb(180, 97, 97);
    border-radius: 6.0rem;
    font-weight: 600;
    padding: 0.2rem 1.8rem;
    font-size: 1.4rem;
    transition: all 0.2s linear;
}
.center_bottom_left_sd3 button:hover{
    color: rgb(180, 97, 97);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(180, 97, 97);
    padding: 0.4rem 2.2rem;
    transition: all 0.2s linear;
}
.deal_of_the_day_container{
    padding-top: 35px;
    padding-bottom: 50px;
    text-align: center; 
}
.deal_of_the_day_container .start_text{
    font-size: 42px;
    color: #253d4f;
    margin-bottom: 50px;
}
.deal_of_the_day{
    display: flex;
    justify-content: space-evenly;
}
.deal_of_the_day .strawberris{
    background-color: rgb(240, 244, 246);
}
.deal_of_the_day .chicken{
    background-color: rgb(240, 244, 246);
}
.deal_of_the_day .rice_drink{
    background-color: rgb(240, 244, 246);
}
.deal_of_the_day img{
    width: 90%;
    height: 400px;
    transition: all 0.5s linear;
}
.deal_of_the_day img:hover{
    width: 95%;
    height: 450px;
    opacity: 0.5;
    transition: all 0.5s linear;
}
.deal_of_the_day .product_text{
    padding: 20px 0 5px;
    margin: 10px 78px 0 78px;
    transition: all 0.2s linear;
}
.deal_of_the_day .product_text:hover{
    color: rgba(131, 238, 174, 0.856);
    transition: all 0.2s linear;
}
.deal_of_the_day a{
    text-decoration: none;
    color: #000;
}
.deal_of_the_day .product_text .open_text{
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 15px;
}
.deal_of_the_day .product_text .money{
    color: #0be91aad;
    text-decoration: line-through;
    padding-right: 20px;
    font-weight: 500;
}
.deal_of_the_day .product_text .ac_money{
    color: #DB1215;
    font-weight: 600;
}
.popular_product{
    padding-top: 35px;
    padding-bottom: 50px;
    text-align: center; 
}
.popular_product .main_text{
    font-size: 42px;
    color:#253d4f;
    margin-bottom: 50px;
    padding: 25px;
}
.popular_product_content{
    display: flex;
    justify-content: space-evenly;
}
.popular_product_content a{
    text-decoration: none;
    color: #253d4f;
}
.popular_product_content .grapes_product{
    border: 0.1px solid #b0b2b4;
}
.popular_product_content .blueberry_product{
    border: 0.1px solid #b0b2b4;
}
.popular_product_content .lettuce_product{
    border: 0.1px solid #b0b2b4;
}
.text_main_content{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.p_product_text{
    text-align: left;
}
.o_money{
    font-weight: 500;
    font-size: 24px;
}
.popular_product_content .text_main_content .text_content{
    transition: all 0.2s linear;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}   
.popular_product_content .text_main_content .text_content:hover{
    color: #3eb719dc;
    transition: all 0.2s linear;
}
.popular_product_content .text_main_content .icon{
    padding: 20px;
    background-color: #3eb719dc;
    border-radius: 35%;
    color: white;
    transition: all 0.2s linear;
}
.popular_product_content .text_main_content .icon:hover{
    background-color: #253d4f;
    transition: all 0.2s linear;
}
.popular_product_content .img img{
    margin: 5px;
    margin-top: 10px;
    transition: all 0.5s linear;
}.popular_product_content .img  img:hover{
    opacity: 0.5;
    transition: all 0.5s linear;
}
/* sign in and something */
.sign_in{
    margin-top: 15px;
    padding: 5px;
    background-color:  rgb(7, 233, 169);
    font-size: 20px;
    border-radius: 85%;
    transition: all 0.2s linear;
}
.sign_in:hover{
    font-size: 25px;
    transition: all 0.2s linear;
}
.sign_out{
    margin-top: 15px;
    padding: 5px;
    background-color:  rgb(7, 233, 169);
    font-size: 20px;
    border-radius: 85%;
}
.sign_out:hover{
    font-size: 25px;
    transition: all 0.2s linear;
}
/* footer go brrr */
.footer{
    padding-bottom: 23px;
}
.footer .footer_main_content{
    padding-top: 63px;
    padding-bottom: 58px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000 ;
}
.footer .footer_main_content .footer_container{
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer_container .footer_collapse_content img{
    margin-bottom: 30px;
}
.footer_container .footer_collapse_content .collapse_infor p{
    margin-bottom: 6.4px; 
}
.footer_container .footer_collapse_content .collapse_infor{
    margin-bottom: 24px;
}
.footer_container .footer_collapse_content .get_direction{
    margin-bottom: 32px;
}
.footer_container .footer_collapse_content .get_direction .get_direction_button{
    text-decoration: none;
    color: #000;
}
.footer_collapse_content .site{
    display: flex;
    justify-content: start;
    list-style: none;
    height: 34px;
    width: 34px;
}
.footer_collapse_content .site .site_link{
    border-radius: 50%;
    border: 1px solid rgb(37, 61, 78);
    margin-right: 20px;
    padding: 8px 6px;
    text-decoration: none;
    color: #000;
}
.footer_collapse_content .site .site_link i{
    padding: 5px;
}
.footer_container .footer_help_content .help{
    margin-bottom: 30px;
}
.footer_container .footer_help_content .menu{
    list-style: none;
}
.footer_container .footer_help_content .menu li{
    margin-bottom: 15px;
}
.footer_container .footer_help_content .menu a{
    text-decoration: none;
    color: #000;
    transition: all 0.3s linear;
}
.footer_container .footer_help_content .menu a:hover{
    color: rgb(62, 135, 214);
    transition: all 0.3s linear;
}
.footer_container .footer_aboutus_content .about_us{
    margin-bottom: 30px;
}
.footer_container .footer_aboutus_content .infor_menu{
    list-style: none;
}
.footer_container .footer_aboutus_content .infor_menu li{
    margin-bottom: 15px;
}
.footer_container .footer_aboutus_content .infor_menu a{
    text-decoration: none;
    color: #000;
    transition: all 0.3s linear;
}
.footer_container .footer_aboutus_content .infor_menu a:hover{
    color: rgb(62, 135, 214);
    transition: all 0.3s linear;
}
.footer_container .footer_sign_up_for_email .email{
    margin-bottom: 30px;
}
.footer_container .footer_sign_up_for_email .email_control .email_content p{
    margin-bottom: 27px;
}
.footer_container .footer_sign_up_for_email .email_control .email_address{
    max-height: 65px;
    width: 100%;
    border: 1px solid rgb(235 235 235);
    padding: 6px 9px;
    border-radius: 4rem;
    background-color: rgb(255 255 255);
}
.footer_container .footer_sign_up_for_email .email_address .email_input {
    width: 100%;
}
.footer_container .footer_sign_up_for_email .email_address .email_input input{
    padding: 12px;
    color: rgb(144 144 144);
    background-color: rgb(255 255 255);
    border-radius: 50px;
}